@use "../../styles/breakpoints" as bp;
@use "../../styles/spacing";
@use "../../styles/colors";

.section {
  border-block: 1px solid colors.color("gray", 0.5);

  padding-block: spacing.spacing("small");

  background-color: colors.color("black");

  @include bp.respond-to("sm") {
    border-block: 2px solid colors.color("gray", 0.5);
  }
}

.iconWrap svg {
  width: 26px;
  height: 26px;

  @include bp.respond-to("sm") {
    width: 52px;
    height: 52px;
  }
}

.techName {
  width: 100%;
}
