@use "../../../styles/spacing";
@use "../../../styles/colors";

.controls {
  display: flex;
  justify-content: flex-end;
  gap: spacing.spacing("tiny");

  margin-bottom: spacing.spacing("small");
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;

  background-color: colors.color("white");

  color: colors.color("black");

  &:disabled {
    background-color: rgb(255 255 255 / 20%);
    cursor: not-allowed;

    color: colors.color("gray");
  }
}

.track {
  display: flex;
  gap: 1.25rem;

  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
